.carousel-caption.top-caption {
    top: 80px;
    bottom: auto;
    color: black;
    transform: translateY(0%);
    padding: 10px; /* Optional */
    font-family:'Courier New', Courier, monospace, sans-serif;
    font-weight: bolder;
}