.card {
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden; 
    height: 200px;
}
.card-img-top{
    object-fit: cover;
    height: 100%;
}
.card:hover {
    transform: scale(1.02); 
}

.card .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0,0.2);
    transition: transform 0.3s ease; 
}

.card .card-title, .card .card-text {
    color: white; 
    margin: 10px; 
    transition: opacity 0.3s ease; 
}

.card:hover .card-title, .card:hover .card-text {
    opacity: 1; 
}

